@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

.Header{
display: flex;
justify-content: space-around;
color: #F98E1D;
font-family: 'IBM Plex Sans', sans-serif;
}

.Header h3{
  text-align: center;
  border: 3px solid rgb(245, 21, 21);
  width: 50%;
}

.Container{
  background-color: white;
  max-width: 600px;
  min-width: 500px;
  height: 100%;
  margin-top: 40px;
  /*margin-left: 33%;
  margin-right: 35%;*/
  background-color: #f7f4f2;
}

.App{
  /*background-color: #F98E1D;*/
  display: flex;
  justify-content: center;
}

