@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

.Header{
display: flex;
justify-content: space-around;
color: #F98E1D;
font-family: 'IBM Plex Sans', sans-serif;
border-radius: 7px 7px 0px 0px;
border: 1px solid #F98E1D;
}

.Header h3{
  text-align: center;
  border: 1px solid #F98E1D;
  width: 50%;
}

.Header h3:hover{
  cursor: pointer;
}

.Container{
  border: 2px solid #F98E1D;
  border-radius: 10px;
  max-width: 600px;
  min-width: 500px;
  height: 100%;
  margin-top: 40px;
  /*margin-left: 33%;
  margin-right: 35%;*/
  background-color: #f7f4f2;
}

.SelectedTab{
  background-color: #F98E1D;
  color: white;
}

.UnSelectedTab{
  background-color: #f7f4f2;
  color: #F98E1D;
}

.App{
  /*background-color: #F98E1D;*/
  display: flex;
  justify-content: center;
}

Body button{
  background-color: rgb(66, 192, 66);
  color: white;
  padding: 4px;
  margin:10px;
  border: rgb(66, 192, 66);
  border-radius: 4px;
}

Body form input{
  margin: 5px;
}

